.Main-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    border: beige solid;

}

.Introduction-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width:70%
}
.heading{
    font-size: large;
    font-weight: bolder;
}
.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
}

.button-box{
    width: 30%
}
.buttons{
    background-color: rgb(255, 255, 94);
    padding: 15px;
    border:none;
    border-radius: 10px;
}
.Mheading{
    font-style: italic;
    font-size: large;
    font-variant: small-caps;
    font-weight: bold;
}